<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Foodi Zone</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a routerLink="/home" class="nav-link"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
        </ul>
    </div>
</nav>

<div>  
    <img  src="assets/images/food5.jpg"  alt="index" >    
 </div>
