<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Foodi Zone</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home" class="nav-link"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a routerLink="/food" class="nav-link">Food Menu</a></li>
      <li ><a routerLink="/orderhistory" class="nav-link">My Orders</a></li>
      <li><a routerLink="/cart" class="nav-link">Cart</a></li>
      <li><a routerLink="/login" class="nav-link">Logout</a></li>
  
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Welcome User</h2>
      <p class="lead"> THE INDIA CRAFT HOUSE
        WELCOMES YOU TO THE WORLD OF THE INDIAN ARTISAN</p>
    </div>
  </div>