<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/home">Foodi Zone</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
           <li><a routerLink="/admin-food-list" class="nav-link">Food List</a></li>
           <li><a routerLink="/customer-list" class="nav-link">Customer List</a></li>
          <li><a routerLink="/login" class="nav-link">Logout</a></li>
     </ul>
  </div>
</nav>

<div class="card" id="card-div">
  <div class="card-header">
    <button (click)="addFood()" class="btn btn-success btn-md float-right">Add Food</button>
    <h2>Food List</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods| async; let index = index"  >
          <td>{{index + 1}}</td>
          <td>
            <img class="food-image" src="{{food.imagePath}}">
          </td>
          <td>{{food.name}}</td>
          <td>{{food.price}}</td>
          <td>{{food.category}}</td>
          <td>
            <button (click)="updateFood(food.fid)" class="btn btn-primary" style="margin-left: 10px">Edit</button>
            <button (click)="deleteFood(food.fid)" class="btn btn-primary" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
